.page-footer {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 30px;
  background: #F5F5F5;
  
 
}
.logo-apps {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.logo-app {
  width: 122px;
}
.img-logo-app{
  cursor: pointer;
  height: 35px;
}
.copyright-text{
  white-space: nowrap;
}
.contacts-text{
  white-space: nowrap;
}
